<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB & Mongoose Labs</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: #1f1b24;
        color: #e4f0fb;
        font-family: sans-serif;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1>MongoDB & Mongoose Labs</h1>
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <img src="/mongodb.png" alt="mongodb" width="300px">
      <img src="/mongoose.png" alt="mongoose" width="150px">
      <img src="/databases.png" alt="databases" width="200px" style="margin-top: 50px;">
    </div>
  </body>
</html>